// @import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

:root {
    // export const MyPreset = definePreset(Aura, {
    //     components: {
    //         treeselect: {
    //             background: '{surface.0}',
    //             borderColor: '{surface.300}',
    //             focusBorderColor: '{yellow.400}',
    //             color: 'black'
    //         },
    //         inputtext: {
    //             focusBorderColor: '{yellow.400}'
    //         },
    //         textarea: {
    //             background: 'blue',
    //         focusBorderColor: '{yellow.400}'
    //         },
    //         floatlabel: {
    //             color: 'black',
    //             focusColor: '{gray.600}'
    //         }
    //     }
    // });

    --p-form-field-color: var(--p-surface-700);
    --p-form-field-background: var(--p-surface-0);
    --p-form-field-border-color: var(--p-surface-300);
    --p-form-field-float-label-focus-color: var(--p-surface-500);
    --p-form-field-focus-border-color: var(--p-yellow-400);

    --p-inputtext-background: var(--p-surface-950);
    --p-textarea-background: var(--p-surface-950);
    --p-textarea-border-color: var(--p-surface-600);
    --p-textarea-color: white;

    --color-card-bg: var(--p-pink-50);
}

.bg-card {
    background-color: var(--color-card-bg);
}
.text-theme {
    color: black;
}

.v-slider-thumb {
    color: rgb(var(--v-theme-surface-variant));
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--p-gray-950);
        // color: rgb(231, 231, 231);
    }
    :root {
        --color-card-bg: var(--p-orange-200);
    }
    .text-theme {
        color: white;
    }
}