// @import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

:root {
    // --p-treeselect-background: white;
    // --p-form-field-background: white;
    // --p-content-background: white;
    // --p-tree-node-color: black;
    // --p-inputtext-color: black;
    // --p-treeselect-color: black;
    // --p-inputtext-border-color: red;

    --color-card-bg: var(--p-pink-50);
}

.bg-card {
    background-color: var(--color-card-bg);
}
.text-theme {
    color: black;
}

.v-slider-thumb {
    color: rgb(var(--v-theme-surface-variant));
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--p-gray-950);
        // color: rgb(231, 231, 231);
    }
    :root {
        --color-card-bg: var(--p-orange-200);
    }
    .text-theme {
        color: white;
    }
}