* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

:root {
    --color-bg-primary: rgb(186, 217, 205);
    --color-bg-secondary: rgb(243, 121, 121);
    --color-text-primary: rgb(0, 0, 0);
    --color-text-secondary: rgb(0, 0, 0);
}

body {
    font-family: 'Open Sans';
}

summary {
    cursor: pointer;
}